li{
    text-align: left;
    color: blue;
    font-size: 30px;
    background-color:honeydew;
    display: inline-flex;
    padding: 5px;

}




.border{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    border-style:groove;
    border-color: rgba(22, 175, 137, 0.863);   
    padding-block-end: 20px;
    padding-block-start: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-radius: 50px;
}

.fade-appear{
    opacity: 0;
}

.fade-appear.fade-appear-active{
    opacity: 1;
    transition: all 1000ms ease-in-out;
}
